.card {
  height: 70px;
  width: calc(100% - 20px);
  background-color: white;

  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 1px #00000027;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-title {
  color: rgba(0, 0, 0, 0.822);
}

.card-text {
  color: rgba(0, 0, 0, 0.699);
}